* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  height: 0.1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #67ccff;
}

::-webkit-slider-thumb {
  background-color: #194eb9;
  border-radius: 5rem;
}

body {
  background: #000000;
  color: #fff;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}
.bg-langitgelap {
  background-image: url("../images/Home-Images/langit.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-title h1 {
  font-size: 100px;
  font-weight: 900;
  line-height: 130px;
}
.header-title h1 span {
  background: linear-gradient(128deg, #ff2e00 27.08%, #ffe24a 67.57%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 120.75%;
}
.header-title p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  width: 500px;
  margin-bottom: 10px;
}
.btn-scroll {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  border-radius: 6px 6px 6px 18.35px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
}
.btn-scroll a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.bulan {
  width: 833px;

  flex-shrink: 0;
  margin-right: -300px;
  margin-top: -100px;
}
.ground {
  margin-top: -400px;
}

/*  styling moon portrait */
.moon-portrait {
  /* background: yellow; */
  margin-top: 250px;
}

.portrait-container {
  justify-content: center;
  text-align: center;
}

.portrait-container .text-content h1 {
  background: #fff;
  font-size: 100px;
  color: #020202;
  font-style: italic;
  display: inline;
  justify-content: center;
  text-align: center;
}

.portrait-container .text-content span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}


/*  card moon portrait */
.card-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  position: relative;
}

.card-container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 100px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card[for="card1"] {
  background-image: url("../images/Moon-Portrait/card1.svg");
}

.card[for="card2"] {
  background-image: url("../images/Moon-Portrait/card2.svg");
}

.card[for="card3"] {
  background-image: url("../images/Moon-Portrait/card3.svg");
}

.card[for="card4"] {
  background-image: url("../images/Moon-Portrait/card4.svg");
}

input {
  display: none;
}

/* card animation */
input:checked + label {
  width: 600px;
  height: 400px;
}

/* batu */
.batu1 {
  position: absolute;
  left: 100px;
  top: 50vh;
}

.batu1 img {
  width: 70px;
  height: 80px;
}

.batu2 {
  position: absolute;
  right: 40px;
  top: 30vh;
}

.batu2 img {
  width: 90px;
  height: 100px;
}
.batu3 {
  position: absolute;
  right: 120px;
  top: 70vh;
}

.batu3 img {
  width: 70px;
  height: 80px;
}